
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#Excude any folder starting with LocalTests
LocalTests*/

# Logs
*.log

# Ignore all environment files containing secrets
*.env
.env.*

# IF you happen to do a Typescript Build (which is not needed for Playwright tests) ignore the resulting .js files
#Ignore all .js files in the utilities folder
utilities/*.js
#Ignore all .js files in the tests folder
tests/**/*.js
#Ingnore playright.config.js
playwright.config.js



credentials.ts